* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #1cd8d257; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1cd8d25b, #93edc759); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1cd8d269, #93edc75b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.head {
    width: 80%;
    margin: auto;
    height: 200px;
    text-align: center;
}

#picture {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    display: block;
    margin: auto;
}

#welcome {
    display: block;
    font-family: sans-serif;
    font-size: 1.5rem;
    padding: 10px;
    margin: auto;
}

.form-body {
    margin: auto;
    width: 60%;
}

#namefield,
#jobfield {
    width: auto;
    height: 40px;
    border-radius: 0.8em;
    background-color: #e3e3e3;
    padding: 10px;
    font-family: 'Comfortaa', cursive;
    margin: 10px 0;
}

#storyfield {
    width: 100%;
    border-radius: 0.8em;
    background-color: #e3e3e3;
    padding: 10px;
    font-family: 'Comfortaa', cursive;
    margin-bottom: 15px;
}

#submit {
    width: auto;
    height: 35px;
    margin: auto;
}
#submit:hover {
    cursor: pointer;
}

