<body>
    {% block content %}

        {% if form.errors %}
            <h3>Your username and password didn't match. Please try again.</h3>
        {% endif %}

        <form action="{% url 'home_login' %}" method="post">
            {% csrf_token %}
            <h2 id="login-head">Log-In</h2>
            <hr id="hr">
    
            <div class="form">
                {% for field in form %}
                  <div class="form-elements">
                    <label>{{ field.label_tag }}</label>
                    {{ field }}
                  </div>
                {% endfor %}
            <button type="submit" id="login-submit">Log In</button>
    
           <p><strong>-- OR --</strong></p>
            <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
            <p><strong>-- OR --</strong></p>
            <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
    
        </form>

    {% endblock %}
</body>
